#main{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#top-list .box-card{
    position:absolute;
    right:0px;
    top:0px;
    width:100%;
    height:65px;
    background-color: rgba(119, 248, 252, 0.637);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border:0px;
}

#top-list .box-card #title{
    position:absolute;
    top:10px;
    font-size: 35px;
}

#top-list .box-card #icon-block{
    position:absolute;
    top:15%;
    right:3%;
    font-size:40px;
    user-select: none;
}

#top-list .box-card #icon-block #cart{
    position:absolute;
    right:0px;
}

#top-list .box-card #icon-block .icon-user{
    position:relative;
    right:20%;
    font-size:50px;
}

#top-list .box-card #tag-block{
    position:absolute;
    top:25%;
    right:10%;
    width:30%;
}

#main-photo{
    position:absolute;
    top:20%;
    left:20%;
    width: 500px;
    height:500px;
}

#side-menu{
    position:absolute;
    top:120px;
    right:5px;
    overflow:hidden;
}